@import "~bootstrap/scss/bootstrap";

.container-main{
    background-color: #E0EAF3;
    color: white;
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    //border: 2px dashed red;
    
    .container-header{
        display: grid;
        grid-template-columns: 4fr 23fr 3fr;
        grid-column-gap: 1em;
        background-color: #FFFFFF;
        color: #1877F2;
        width: 100%;

        .container-logo{
           // border: 2px dashed purple; 
        }

        img{
            height: 60px;
            width: 130px;
        }

        .navigation-controller{
            //border: 2px dashed purple;

            .navigation-dropdowns{
                margin: 20px 0 0 0;
            }
        }

        .user-specs{
            //border: 2px dashed purple;

            span{
                float: right;
                padding-left: 3px;
            }
        }

   }
}