@import "~bootstrap/scss/bootstrap";

.container-main{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border: 2px dashed red;
    
    .container-header{
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        grid-column-gap: 1em;

        .container-logo{
            border: 2px dashed purple; 
        }

        .navigation-controller{
            border: 2px dashed purple;
        }

        .user-specs{
            border: 2px dashed purple;

            span{
                float: right;
                padding-left: 3px;
            }
        }

   }
}