@import "~bootstrap/scss/bootstrap";

.container-main{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border: 2px dashed yellow;

}